# Checkpoints
checkpoints/

# Datasets
data/

# Python virtual environments (add the path of your local env here)
venv/
.venv/
socialsum-venv/

# Model files
*.bin
*.pt

# MacOS system files
.DS_Store

# Log files
*.log
logs/
